h4{
    font-family: fantasy;
    font-size: 18px;
}

body{
    background-color: #627FE9;
}

.list1{
    font-size: 18px;
}

.descrition{
    position: absolute;
    top: 20px;
    left: 140px;
}

.name{
    text-align: center;
    font-size: 25px;
}

.photo{
    padding: 10px 10px;
    background-color: #3D62E9;
    border-radius: 20%;
}

.logo{
    width: 35px;
    border-radius: 50%;
}