* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  font-family: Raleway;
  background-color: rgb(157, 160, 163);
  color: rgb(27, 29, 31);
}

.logo {
  width: 35px;
}

.photo {
  width: 100px;
  border-radius: 5px;
}