* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  font-family: Raleway;
  background-color: rgb(185, 188, 190);
  color: rgb(27, 29, 31);
  margin-bottom: 50px;
}

.logo {
  width: 35px;
}

.photo {
  width: 100px;
  border-radius: 80px;
}

.descrition {
  font-family: Raleway;
  padding: 0 20px;
  margin-left: 20px;
  justify-content: flex-start;
}

#descrition-main {
  display: flex;
  padding: 0 50px;
  margin-bottom: 50px;
}
